---
import type { Gender } from '@/types';
import { Header } from '@/components/header';
import { TeamPlayersTable } from '@/components/team-players-table';
import AppLayout from '@/layouts/app.astro';
import TeamInfoLayout from '@/layouts/team-info.astro';

export const prerender = false;

interface Params {
  gender: Gender;
  group: string;
  team1: string;
  team2: string;
}

const { gender, group, team1, team2 } = Astro.params as unknown as Params;
---

<AppLayout>
  <Header gender={gender} group={group} />
  <TeamInfoLayout
    gender={gender}
    group={group}
    teamName={`${team1} vs ${team2}`}
  >
    <div class="flex gap-4 mt-4">
      <TeamPlayersTable
        client:only="react"
        gender={gender}
        group={group}
        teamName={team1}
        variant="compare"
      />

      <TeamPlayersTable
        client:only="react"
        gender={gender}
        group={group}
        teamName={team2}
        variant="compare"
      />
    </div>
  </TeamInfoLayout>
</AppLayout>
