---
import type { Gender } from '@/types';
import { ClientRouter } from 'astro:transitions';
import { Footer } from '@/components/footer';
import { cn } from '@/utils/classes';
import '@/styles/global.css';

interface Props {
  class?: string;
}

interface Params {
  gender?: Gender;
  group?: string;
  teamName?: string;
  team1?: string;
  team2?: string;
}

const { class: className } = Astro.props;
const { gender, group, teamName, team1, team2 } =
  Astro.params as unknown as Params;

function getDescription() {
  if (team1 && team2) {
    return `Pádel Cantabria - Comparación de equipos ${team1} vs ${team2}`;
  }

  if (teamName) {
    return `Pádel Cantabria - Información del equipo ${teamName}`;
  }

  if (group && gender) {
    return `Pádel Cantabria - Información de la categoría ${group} de ${gender.toLowerCase()}`;
  }

  return 'Pádel Cantabria - mejora la Ui del sitio oficial de la Liga Cántabra de Pádel, fue creada con motivos educativos.';
}

const description = getDescription();
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={Astro.url.href} />

    <title>Pádel Cantabria</title>

    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content="Pádel Cantabria" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL('/og-image.png', Astro.url)} />
    <meta property="og:locale" content="es_ES" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content="Pádel Cantabria" />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={new URL('/og-image.png', Astro.url)}
    />

    <ClientRouter />
  </head>
  <body class="bg-cantabria-bg text-cantabria-text antialiased min-h-screen">
    <main
      class={cn(
        'mx-auto max-w-4xl px-4 py-8 sm:py-10 min-h-screen flex flex-col',
        className,
      )}
    >
      <slot />

      <Footer />
    </main>
  </body>
</html>
